# http://editorconfig.org/

root = true

[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
charset = utf-8

[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

[*.{sln}]
charset = utf-8
indent_style = tab

[*.{json,yml}]
charset = utf-8
indent_size = 2

[*.{cs,tt}]
charset = utf-8
indent_size = 4

# Prefer "var" everywhere
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_prefer_braces = when_multiline:suggestion

csharp_indent_case_contents_when_block = false

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# Default severity for analyzer diagnostics with category 'Style' (escalated to build warnings)
dotnet_analyzer_diagnostic.category-Style.severity = warning

# IDE0065: Misplaced using directive
# Prefer using directives to be placed inside the namespace
csharp_using_directive_placement = inside_namespace

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# Use new(...)
dotnet_diagnostic.IDE0090.severity=silent

# Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity=suggestion

# Use block statement for method body
dotnet_diagnostic.IDE0022.severity=suggestion

# Simplify if statement
dotnet_diagnostic.IDE0046.severity=suggestion

# Add accessibility modifiers
dotnet_diagnostic.IDE0040.severity=suggestion

# CA1721: Property names should not match get methods
dotnet_diagnostic.CA1721.severity = suggestion

# IDE0045: Use conditional if statements
dotnet_diagnostic.IDE0045.severity=suggestion

# IDE0024: Use expression body for operators
csharp_style_expression_bodied_operators = true

# CA2225: Operator overloads have named alternates
dotnet_diagnostic.CA2225.severity=suggestion

# IDE0021: Expression-bodied constructors
dotnet_diagnostic.IDE0021.severity=suggestion

# IDE0061: Use block body for local functions
dotnet_diagnostic.IDE0061.severity=suggestion

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity=suggestion

[*.cs]
dotnet_style_qualification_for_field=true:error
dotnet_style_qualification_for_property=false:error
dotnet_style_qualification_for_method=false:error
dotnet_style_qualification_for_event=false:error

# CA1814: Prefer jagged arrays over multidimensional arrays
dotnet_diagnostic.CA1814.severity=suggestion
dotnet_diagnostic.IDE0047.severity=suggestion
