<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Azure IoT Edge LoRaWAN Ruleset" Description="These StyleCop rules are customized for Azure IoT Edge LoRaWAN projects." ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!-- XML comment generation must be enabled -->
    <Rule Id="SA0001" Action="None" />
    
    <!-- Constructor should not follow a property -->
    <Rule Id="SA1201" Action="None" />
    
    <!-- public members before private -->
    <Rule Id="SA1202" Action="None" />

    <!-- statics must be before public members -->
    <Rule Id="SA1204" Action="None" />

    <!-- Fields should not contain underscore: it is ok for constants -->
    <Rule Id="SA1310" Action="None" />

    <!-- Should declare access modifier -->
    <Rule Id="SA1400" Action="None" />

    <!-- Arithmetic expressions should declare precedence, using parenthesis -->
    <Rule Id="SA1407" Action="None" />

    <!-- Use trailing comma in multi-line  -->
    <Rule Id="SA1413" Action="None" />

    <!-- bracers should not be omitted -->
    <Rule Id="SA1503" Action="None" />

    <!-- Single-line comments should be preceded by blank line -->
    <Rule Id="SA1515" Action="None" />
    
    <!-- elements should be documented -->
    <Rule Id="SA1600" Action="None" />

    <!-- enumeration items should be documented -->
    <Rule Id="SA1602" Action="None" />
  
    <!-- Documentation for parameters -->
    <Rule Id="SA1611" Action="None" />
  
    <!-- Element return value should be documented -->
    <Rule Id="SA1615" Action="None" />
    
  </Rules>
</RuleSet>