[*.cs]

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1303: Console.WriteLine should get strings from resource table
dotnet_diagnostic.CA1303.severity = none

# Expression value is never used
dotnet_diagnostic.IDE0058.severity=suggestion
