[*.cs]
csharp_indent_case_contents_when_block = false

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# Default severity for analyzer diagnostics with category 'Style' (escalated to build warnings)
dotnet_analyzer_diagnostic.category-Style.severity = warning

# IDE0065: Misplaced using directive
# Prefer using directives to be placed inside the namespace
csharp_using_directive_placement = inside_namespace

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# CA1721: Property names should not match get methods
dotnet_diagnostic.CA1721.severity = suggestion
