[*.cs]
csharp_indent_case_contents_when_block = false

# Allow using of the "this" qualifier
dotnet_style_qualification_for_field=true:silent
dotnet_style_qualification_for_property=true:silent
dotnet_style_qualification_for_method=true:silent
dotnet_style_qualification_for_event=true:silent


# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# Default severity for analyzer diagnostics with category 'Style' (escalated to build warnings)
dotnet_analyzer_diagnostic.category-Style.severity = warning

# IDE0065: Misplaced using directive
# Prefer using directives to be placed inside the namespace
csharp_using_directive_placement = inside_namespace

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# Use new(...)
dotnet_diagnostic.IDE0090.severity=silent

# Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity=suggestion

# Use block statement for method body
dotnet_diagnostic.IDE0022.severity=suggestion

# Simplify if statement
dotnet_diagnostic.IDE0046.severity=suggestion

# Add accessibility modifiers
dotnet_diagnostic.IDE0040.severity=suggestion

# CA1721: Property names should not match get methods
dotnet_diagnostic.CA1721.severity = suggestion
