[*.cs]
csharp_indent_case_contents_when_block = false

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# Default severity for analyzer diagnostics with category 'Style' (escalated to build warnings)
dotnet_analyzer_diagnostic.category-Style.severity = warning

# IDE0065: Misplaced using directive
# Prefer using directives to be placed inside the namespace
csharp_using_directive_placement = inside_namespace

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# IDE0061: Use expression body for local functions
csharp_style_expression_bodied_local_functions = when_on_single_line

# Prefer to not have parentheses when arithmetic operator (*, /, %, +, -, <<, >>, &, ^, |) precedence is obvious
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary

# Prefer to not have parentheses when other binary operator (&&, ||, ??) precedence is obvious
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary

# Use new(...)
dotnet_diagnostic.IDE0090.severity=silent

# Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity=suggestion

# Use block statement for method body
dotnet_diagnostic.IDE0022.severity=suggestion

# Simplify if statement
dotnet_diagnostic.IDE0046.severity=suggestion

# Add accessibility modifiers
dotnet_diagnostic.IDE0040.severity=suggestion

# CA1721: Property names should not match get methods
dotnet_diagnostic.CA1721.severity = suggestion
