<RuleSet Name="Microsoft.Analyzers.ManagedCodeAnalysis" Description="Microsoft.Analyzers.ManagedCodeAnalysis" ToolsVersion="14.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">
    <Rule Id="CA1056" Action="None" />          <!-- Uri properties should not be strings -->
    <Rule Id="CA1303" Action="None" />          <!-- Do not pass literals as localized parameters -->
    <Rule Id="CA1822" Action="None" />          <!-- Mark members as static -->
    <Rule Id="CA2007" Action="None" />          <!-- 	Consider calling ConfigureAwait on the awaited task	-->
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="AD0001" Action="None" />          <!-- Analyzer threw an exception -->
    <Rule Id="SA1101" Action="None" />          <!-- Prefix local calls with this -->
    <Rule Id="SA1633" Action="None" />          <!-- File should have header -->
    <Rule Id="SA1611" Action="None" />          <!-- Parameters should be documented -->
    <Rule Id="SA1600" Action="None" />          <!-- Elements should be documented -->
    <Rule Id="SA1309" Action="None" />          <!-- Field should not begin with an underscore -->
    <Rule Id="SA1615" Action="None" />          <!-- Element return value should be documented --> 
    <Rule Id="SA1400" Action="None" />          <!-- Element return value should be documented --> 
  </Rules>
</RuleSet>
