#################
# Global Settings
#################

# Container Registry Settings
CONTAINER_REGISTRY_ADDRESS=your.azurecr.io
CONTAINER_REGISTRY_USERNAME=yourusername
CONTAINER_REGISTRY_PASSWORD=yourpassword

# Azure IoT Edge Core Module Versions
EDGE_AGENT_VERSION=1.0.4
EDGE_HUB_VERSION=1.0.4

# Region
REGION=EU

# Reset pin (GPIO to reset Packet Forwarder Antenna)
RESET_PIN=7

##################
# edgeHub settings
##################
EDGEHUB_OPTIMIZEFORPERFORMANCE=false
EDGEHUB_MQTTSETTINGS_ENABLED=false
EDGEHUB_HTTPSETTINGS_ENABLED=false
EDGEHUB_ROUTE='FROM /* INTO $upstream'

##############################
# LoRaWanPktFwdModule settings
##############################
PKT_FWD_VERSION=0.0.3

##################################
# LoRaWanNetworkSrvModule settings
##################################
NET_SRV_VERSION=0.0.3
NET_SRV_LOG_LEVEL=1
NET_SRV_LOGTO_HUB=true
NET_SRV_LOGTO_UDP=false

# if you want to change the iotedge timeout connection recommended if you have a slow network line or slow conenction time is in milliseconds
# Set to 0 for default timeout
NET_SRV_IOTEDGE_TIMEOUT=0
FACADE_SERVER_URL=https://your-function.azurewebsites.net/api/
FACADE_AUTH_CODE=yourauthcode

#############################################
# LoRaSimulator Settings
#############################################
# only required if you are using the simulator configuration

SIMULATOR_VERSION=0.0.3

# You can choose the UDP port. Default is 1681
SIMULATOR_PORT=1681

###########################
# AzureDevOpsAgent Settings
###########################
# only required if you are using the test configuration on the edge

# For ARM32v7
# Build the image and push to your ACR
DEVOPS_AGENT_IMAGE=your.azurecr.io/azuredevopsagent:2.144.0
NET_SRV_LOG_TO_UDP_ADDRESS=AzureDevOpsAgent
# For amd64 or Windows, use microsoft official image
VSTS_AGENT=NameOfYourAgent
VSTS_ACCOUNT=yourDevOpsAccount # The 'yourproject' from URL https://yourproject.visualstudio.com
VSTS_TOKEN=yourtoken
